html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        div {
            width: 100%;
            height: 100%;
            max-height: 100%;
            margin: 0;
            padding: 0;
            background-size:100% 100%;
            background-repeat: no-repeat;
        }