<!DOCTYPE html>
<html lang="en">
  <head>
    <title>University</title>
    <link rel="icon" type="image/png" href="../static/univ.ico"/>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">

  </head>
 
  <body>
    &nbsp;
 
   <!--  <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="main">|Home|</a></li>
            <li role="presentation"><a href="#">|Sign In|</a></li>
            <li role="presentation" class="active"><a href="#">|Sign Up|</a></li>
          </ul>
        </nav>
        <h3 class="text-muted"></h3>
      </div> -->
 
      <div class="jumbotron" style="background-color: rgba(128,128,128,0.0)" >
        <h1 style=" color: white; text-shadow: 2px 2px 4px #000000;"><center>Type your name and email :</center></h1>
        <br>
        <br>
        <form method="POST" class="form-signin" action="{{url_for('AdminForgotPassword')}}">
        <label for="inputName" class="sr-only">Name</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <input type="submit" value="Show Password" class="btn btn-primary btn-lg btn-block">
      </form>
      </div>

      
 
       
 
      
      <br>
       <br>
        <br>
         <br>
       <br>

       <br>

      <br>

       
<footer class="footer">
        <p style=" color: white; text-shadow: 2px 2px 4px #000000;"> &copy; 2018</p>
      </footer>




 
    </div>
  </body>
</html>