 

 <title>University</title>
    <link rel="icon" type="image/png" href="../static/univ.ico"/>
 <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/cloud.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">

        <style>

 body {width: 100%;
            height: 100%;
            max-height: 100%;
            margin: 0;
            padding: 0;
            background-image: url('../static/img2.jpg');
            background-size:100% 100%;
            background-repeat: no-repeat;
        }


</style>
     <br>
      <div id="clouds">
            <div class="cloud x1"></div>
            <div class="cloud x1_5"></div>
            <div class="cloud x2"></div>
            <div class="cloud x3"></div>
            <div class="cloud x4"></div>
            <div class="cloud x5"></div>
        </div>
    
    <center> &nbsp;<a style="text-shadow: 2px 2px 4px #000000;" class="btn btn-primary" href="{{ url_for('showDepartments') }}" role="button">Back</a>
      <a style="text-shadow: 2px 2px 4px #000000;" class="btn btn-primary" href="{{ url_for('main') }}" role="button">Main Page</a>
        <a style="text-shadow: 2px 2px 4px #000000;" class="btn btn-primary" href="{{ url_for('logout') }}" role="button" > logout</a></center>
        <br>

  <div class="jumbotron" style="background-color: rgba(128,128,128,0.3)" >
      
       <table style = "width: 100%">
     <tr>
    <th style=" color: white; text-shadow: 2px 2px 4px #000000;">Course ID</th>
    <th style=" color: white; text-shadow: 2px 2px 4px #000000;">Course Name</th>
    <th style=" color: white; text-shadow: 2px 2px 4px #000000;">Credits</th>
    <th style=" color: white; text-shadow: 2px 2px 4px #000000;">Department</th> 
  </tr>
  {% for item in cours %}
  <tr>
        <td style=" color: white; text-shadow: 2px 2px 4px #000000;">{{ item['courseID'] }}</td>
        <td style=" color: white; text-shadow: 2px 2px 4px #000000;">{{ item['courseName'] }}</td>
        <td style=" color: white; text-shadow: 2px 2px 4px #000000;">{{ item['credits'] }} </td>
        <td style=" color: white; text-shadow: 2px 2px 4px #000000;">{{ item['department'] }} </td>
        <td style=" color: white; text-shadow: 2px 2px 4px #000000;"><a class="btn btn-success btn-sm" href="{{ url_for('showStudentCourses', courseID = item['courseID'] ) }}">Open Students in this Course</a></td>
        
    </tr>
{% endfor %}
</table>
</div>


<h style=" color: white; text-shadow: 2px 2px 4px #000000;"><center>Modifications here:</center></h>
<br>
<center><div class="btn-group">
    <a href="{{ url_for('editCourses') }}"><input type="submit" href="../templates/department1.html" value="add" style="text-shadow: 2px 2px 4px #000000;" class="btn btn-primary"></a>
    &nbsp;
      <a href="{{ url_for('changeCourses') }}"><input type="submit" href="../templates/course1.html" value="change" style="text-shadow: 2px 2px 4px #000000;" class="btn btn-primary"></a>
      &nbsp;
     <a href="{{ url_for('deleteCourses') }}"><input type="submit" href="../templates/course1.html" value="delete" style="text-shadow: 2px 2px 4px #000000;" class="btn btn-danger"></a>
</div></center>
<br> 


     <!-- <br>
     <p style="text-shadow: 2px 2px 4px #000000;"><a class="btn btn-lg btn-success" href="{{ url_for('showDepartments') }}" role="button">Back</a>
            </p>
    <p style="text-shadow: 2px 2px 4px #000000;"><a class="btn btn-lg btn-success" href="{{ url_for('showAllStudentCourses') }}" role="button">All Students enrolled in All courses</a>
            </p>
    <p style="text-shadow: 2px 2px 4px #000000;"><a class="btn btn-lg btn-success" href="{{ url_for('main') }}" role="button">Main Page</a>
   <p style="text-shadow: 2px 2px 4px #000000;"><a class="btn btn-lg btn-success" href="{{ url_for('logout') }}" role="button">logout</a>
</p> -->
     

          



