

<title>University</title>
    <link rel="icon" type="image/png" href="../static/univ.ico"/>

 <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">
     <h1 style=" color: black; text-shadow: 2px 2px 4px #000000;"><center>ADMIN : {{ sessionid }}</center></h1>
     <br>
 <div class="jumbotron" style="background-color: rgba(128,128,128,0.1)" >
 <table style = "width: 100%">
  <tr>
    <th>Department ID</th>
    <th>Department Name</th> 
  </tr>
  {% for item in depart %}
  <tr>
        <td>{{ item['departmentID'] }}</td>
        <td href="{{ url_for('showCourses') }}"><a href="{{ url_for('showCourses', department = item['departmentName'] ) }}">{{ item['departmentName'] }}</a> </td>
         <td href="{{ url_for('showCourses') }}"><a href="{{ url_for('showCourses', department = item['departmentName'] ) }}">Open courses in this Department</a> </td>
    </tr>
{% endfor %}
</table>
</div>
<p class="pull-right"><center>Make your departments edits here:</center></p>
    <a href="{{ url_for('editDepartments') }}"><input type="submit" href="../templates/department1.html" value="add" class="btn btn-primary btn-lg btn-block"></a>
      </div>
      <a href="{{ url_for('changeDepartments') }}"><input type="submit" href="../templates/course1.html" value="change" class="btn btn-primary btn-lg btn-block"></a>
     <a href="{{ url_for('deleteDepartments') }}" ><input type="submit" href="../templates/course1.html" value="delete" style="color: red;" class="btn btn-primary btn-lg btn-block"></a>
     <br>
     <p style="text-shadow: 2px 2px 4px #000000;"><a class="btn btn-lg btn-success" href="{{ url_for('main') }}" role="button">Back</a></p>
     <p style="text-shadow: 2px 2px 4px #000000;"><a class="btn btn-lg btn-success" href="{{ url_for('showAllCourses') }}" role="button">All Courses of Every Department</a></p>
   <p style="text-shadow: 2px 2px 4px #000000;"><a class="btn btn-lg btn-success" href="{{ url_for('logout') }}" role="button" >logout</a>
            </p>
