<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Bucket List App</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="../static/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">|Home| </a>
                    </li>
                    <li role="presentation"><a href="showSignIn">|Sign In| </a>
                    </li>
                    <li role="presentation"><a href="showSignUp">|Sign Up|</a>
                    </li>
                </ul>
            </nav>   
        </div>

        <!--style="background-image: url('../static/thehill.jpg')"-->

         <div class="jumbotron">
            <h3 class="text-muted"><font size="+56" style="font-family:verdana;">The Mongreal University</font></h3>
        </div>

 
        <div class="jumbotron">
            <h1><font style="font-family:Georgia;">Admin-login</font></h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignIn" role="button">Sign in</a>
            </p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up now</a>
            </p>
        </div>

        <div class="jumbotron">
            <h1><font style="font-family:Georgia;">Student-login</font></h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignIn1" role="button">Sign in</a>
            </p>
             <p><a class="btn btn-lg btn-success" href="showSignUp1" role="button">Sign up now</a>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>E-mail</h4>
                <p>MongrealUniversity@Gmail.com.</p>
 
            </div>
 
            <div class="col-lg-6">
                <h4>Contacts</h4>
                <p>Tel No: 8889809076.</p>
 
            </div>
        </div>
 
        <footer class="footer">
            <p>&copy;2018</p>
        </footer>
 
    </div>
</body>
 
</html>