<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Bucket List App</title>
 
    <link rel="icon" type="image/png" href="../static/univ.ico"/>

   <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="../static/jumbotron-narrow.css" rel="stylesheet">
<style>

 body {width: 100%;
            height: 100%;
            max-height: 100%;
            margin: 0;
            padding: 0;
            background-image: url('../static/therill.jpg');
            background-size:100% 100%;
            background-repeat: no-repeat;
        }


</style>
 
</head>
 

<body>
 
 
&nbsp;
 
    <!-- <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">|Home| </a>
                    </li>
                    <li role="presentation"><a href="showSignIn">|Sign In| </a>
                    </li>
                    <li role="presentation"><a href="showSignUp">|Sign Up|</a>
                    </li>
                </ul>
            </nav>   
        </div> -->

        <!--style="background-image: url('../static/thehill.jpg')"-->

  

         <div class="jumbotron" style="background-color: rgb(0,0,0,0.0)"  img="../static/therill.jpg">
            <!-- <img background="../static/therill.jpg"> -->
            <!-- <link href="../static/index.css" rel="stylesheet"> -->
            <h3 style=" color: white; text-shadow: 2px 2px 4px #000000;"><font size="+56" style="font-family:verdana;">The Mongreal University</font></h3>
        </div>

        <!-- style="background-image: url(../static/thehill.jpg);background-repeat: no-repeat;background-size: cover;"   -->

        <div class="jumbotron" style="background-color: rgba(128,128,128,0.1)" >
            <h1 style=" color: white; text-shadow: 2px 2px 4px #000000;"><font style="font-family:Georgia;">Admin-login</font></h1>
            <p class="lead"></p>
            <p style="text-shadow: 2px 2px 4px #000000;"><a class="btn btn-lg btn-success" href="showSignIn" role="button">Sign in</a>
            </p>
            <p style="text-shadow: 2px 2px 4px #000000;"><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up now</a>
            </p>
        </div>

        <div class="jumbotron" style="background-color: rgba(0,0,0,0.2)">
            <h1><font style=" color: white;text-shadow: 2px 2px 4px #000000;" style="font-family:Georgia;">Student-login</font></h1>
            <p class="lead"></p>
            <p style="text-shadow: 2px 2px 4px #000000;"><a class="btn btn-lg btn-success" href="showSignIn1" role="button">Sign in</a>
            </p>
             <p style="text-shadow: 2px 2px 4px #000000;"><a class="btn btn-lg btn-success" href="showSignUp1" role="button">Sign up now</a>
            </p>
        </div>
 
        <div class="row marketing" style="background-color: rgb(0,0,0,0.1)">
            <div class="col-lg-6" style="background-color: rgb(0,0,0,0.1)">
                <h4><font style=" color: white;text-shadow: 2px 2px 4px #000000;" style="font-family:Georgia;">E-mail</font></h4>
                <p><font style=" color: white;text-shadow: 2px 2px 4px #000000;" style="font-family:Georgia;">MongrealUniversity@Gmail.com.</font></p>
 
            </div>
 
            <div class="col-lg-6" style="background-color: rgb(0,0,0,0.1)">
                <h4><font style=" color: white;text-shadow: 2px 2px 4px #000000;" style="font-family:Georgia;">Contacts</font></h4>
                <p><font style=" color: white;text-shadow: 2px 2px 4px #000000;" style="font-family:Georgia;">Tel No: 8889809076.</font></p>
 
            </div>
        </div>
 
        <footer class="footer">
            <p><font style=" color: white;text-shadow: 2px 2px 4px #000000;" style="font-family:Georgia;">&copy;2018</font></p>
        </footer>
 
    </div>
</body>
 
</html>