<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">



 <table style = "width: 100%">
  {% for item in studdet %}
  <tr>
        <th>{{ item['courseName'] }} </th>
        <th>{{ item['studentName'] }} </th>
        <th>{{ item['marks'] }} </th>
        <th>{{ item['attendance'] }} </th>
    </tr>
{% endfor %}
</table>

      <br>
   <p style="text-shadow: 2px 2px 4px #000000;"><a class="btn btn-lg btn-success" href="{{ url_for('studentLogout') }}" role="button">logout</a>
            </p>