  <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">



 <table style = "width: 100%">
  {% for item in studcours %}
  <tr>
        <th>{{ item['courseID'] }} </th>
        <th>{{ item['courseName'] }} </th>
        <th>{{ item['studentID'] }} </th>
        <th>{{ item['studentName'] }} </th>
        <th>{{ item['marks'] }} </th>
        <th>{{ item['attendance'] }} </th>
    </tr>
{% endfor %}
</table>
<p class="pull-right">add courses here:</p>
    <a href="{{ url_for('editStudentCourses') }}"><input type="submit" value="add" class="btn btn-primary btn-lg btn-block"></a>
    <a href="{{ url_for('changeStudentCourses') }}"><input type="submit" value="change" class="btn btn-primary btn-lg btn-block"></a>
     <a href="{{ url_for('deleteStudentCourses') }}"><input type="submit" value="delete" class="btn btn-primary btn-lg btn-block"></a>
      </div>
      <br>
<p style="text-shadow: 2px 2px 4px #000000;"><a class="btn btn-lg btn-success" href="{{ url_for('showCourses') }}" role="button">Back</a>
            </p>
    <p style="text-shadow: 2px 2px 4px #000000;"><a class="btn btn-lg btn-success" href="{{ url_for('main') }}" role="button">Main Page</a>
   <p style="text-shadow: 2px 2px 4px #000000;"><a class="btn btn-lg btn-success" href="{{ url_for('logout') }}" role="button">logout</a>
            </p>