  <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">


 <div class="jumbotron" style="background-color: rgba(128,128,128,0.1)" >
 <table style = "width: 100%">
  <tr>
    <th>Course ID</th>
    <th>Course Name</th>
    <th>Department ID</th>
    <th>Department Name</th>
    <th>Marks</th> 
    <th>Attendance</th> 
  </tr>
  {% for item in studcours %}
  <tr>
        <td>{{ item['index'] }} </td>
        <td>{{ item['courseID'] }} </td>
        <td>{{ item['courseName'] }} </td>
        <td>{{ item['studentID'] }} </td>
        <td>{{ item['studentName'] }} </td>
        <td>{{ item['marks'] }} </td>
        <td>{{ item['attendance'] }} </td>
    </tr>
{% endfor %}
</table>
</div>
<p class="pull-right"><center>add courses here:</center></p>
    <a href="{{ url_for('editStudentCourses') }}"><input type="submit" value="add" class="btn btn-primary btn-lg btn-block"></a>
    <a href="{{ url_for('changeStudentCourses') }}"><input type="submit" value="change" class="btn btn-primary btn-lg btn-block"></a>
     <a href="{{ url_for('deleteStudentCourses') }}"><input type="submit" style="color: red" value="delete" class="btn btn-primary btn-lg btn-block"></a>
      </div>
      <br>
<p style="text-shadow: 2px 2px 4px #000000;"><a class="btn btn-lg btn-success" href="{{ url_for('showDepartments') }}" role="button">Back to Department Page</a>
            </p>
    <p style="text-shadow: 2px 2px 4px #000000;"><a class="btn btn-lg btn-success" href="{{ url_for('main') }}" role="button">Main Page</a>
   <p style="text-shadow: 2px 2px 4px #000000;"><a class="btn btn-lg btn-success" href="{{ url_for('logout') }}" role="button">logout</a>
            </p>