<!DOCTYPE html>
<html lang="en">
  <head>
    <title>University</title>
    <link rel="icon" type="image/png" href="../static/univ.ico"/>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">
    

  </head>
 
  <body>
    &nbsp;
 
      <div class="jumbotron" style="background-color: rgba(0,0,0,0.0)" >
        <h1 style=" color: white; text-shadow: 2px 2px 4px #000000;"><center>COURSES</center></h1>
        <br>
        <br>
        <form method="POST" class="form-signin" action="{{url_for('editStudentCourses')}}">
        <label for="courseID" class="sr-only">Course ID</label>
        <input type="name" name="inputCourseID" id="inputCourseID" class="form-control" placeholder="Course ID" required autofocus>
        <label for="courseName" class="sr-only">Course Name</label>
        <input type="name" name="inputCourseName" id="inputCourseName" class="form-control" placeholder="Course Name" required autofocus>
        <label for="inputStudentID" class="sr-only">Student ID</label>
        <input type="name" name="inputStudentID" id="inputStudentID" class="form-control" placeholder="Student ID" required autofocus>
        <label for="inputStudentName" class="sr-only">Student Name</label>
        <input type="name" name="inputStudentName" id="inputStudentName" class="form-control" placeholder="Student Name" required autofocus>
        <label for="marks" class="sr-only">Marks</label>
        <input type="number" name="inputMarks" id="inputMarks" class="form-control" placeholder="Marks" required autofocus>
        <label for="attendance" class="sr-only">Attendance</label>
        <input type="text" name="inputAttendance" id="inputAttendance" class="form-control" placeholder="Attendance" required autofocus>
       
         
       <input type="submit" value="ADD" class="btn btn-primary btn-lg btn-block">
      </form>

      
     
 
       
 
      
      <br>
       <br>
        <br>
         <br>
       <br>

       <br>

      <br>

       
<footer class="footer">
        <p style=" color: white; text-shadow: 2px 2px 4px #000000;"> &copy; 2018</p>
      </footer>




 
    </div>
  </body>
</html>